doctype html
html
    head
        meta(charset='UTF-8')
        title Selectize Theme for Bootstrap 4
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.css')
        link(rel='stylesheet' href='css/selectize.bootstrap4.css')
    body(class='m-5')
        div(class='container')
            h1(class='text-center') Selectize Theme for Bootstrap 4
            div(class='row my-5')
                div(class='col-6')
                    h2 Single Select
                    form
                        div(class='form-group')
                            label(for='select-1') Regular
                            select(id='select-1' class='form-control selectize-single')
                                option(value selected) Choose...
                                each option in ['Red', 'Yellow', 'Green', 'Blue', 'Purple', 'Magenta', 'Pink', 'Black', 'White', 'Gray']
                                    option(value=option)= option
                        div(class='form-group')
                            label(for='select-2') Large
                            select(id='select-2' class='form-control form-control-lg selectize-single')
                                option(value selected) Choose...
                                each option in ['Red', 'Yellow', 'Green', 'Blue', 'Purple', 'Magenta', 'Pink', 'Black', 'White', 'Gray']
                                    option(value=option)= option
                        div(class='form-group')
                            label(for='select-3') Small
                            select(id='select-3' class='form-control form-control-sm selectize-single')
                                option(value selected) Choose...
                                each option in ['Red', 'Yellow', 'Green', 'Blue', 'Purple', 'Magenta', 'Pink', 'Black', 'White', 'Gray']
                                    option(value=option)= option
                        div(class='form-group')
                            label(for='select-4') RTL
                            select(id='select-4' class='form-control selectize-single' dir='rtl')
                                option(value selected) Choose...
                                each option in ['Red', 'Yellow', 'Green', 'Blue', 'Purple', 'Magenta', 'Pink', 'Black', 'White', 'Gray']
                                    option(value=option)= option
                        div(class='form-group')
                            label(for='select-5') Option Groups
                            select(id='select-5' class='form-control selectize-single')
                                option(value selected) Choose...
                                optgroup(label='Climbing')
                                    each option, index in ['Bolts', 'Cams', 'Nuts', 'Pitons', 'Sling', 'Stoppers']
                                        option(value='climbing' + index)= option
                                optgroup(label='Skiing')
                                    each option, index in ['Poles', 'Skins', 'Skis']
                                        option(value='skiing' + index)= option
                        div(class='form-group')
                            label(for='select-15') Valid Select Value
                            select(id='select-15' class='form-control is-valid selectize-single')
                                option(value='green' selected) Green
                            div(class='valid-feedback') Looks good!
                        div(class='form-group')
                            label(for='select-16') Invalid Select Value
                            select(id='select-16' class='form-control is-invalid selectize-single')
                                option(value='red' selected) Red
                            div(class='invalid-feedback') Please provide valid color.
                    form(class='form-inline my-2')
                        label(for='select-6' class='mr-2') Inline
                        select(id='select-6' class='form-control w-50 selectize-single')
                            option(value selected) Choose...
                            each option in ['Red', 'Yellow', 'Green', 'Blue', 'Purple', 'Magenta', 'Pink', 'Black', 'White', 'Gray']
                                option(value=option)= option
                    form(class='form-inline my-2')
                        label(for='select-13' class='mr-2') Input Group
                        div(class='input-group')
                            div(class='input-group-prepend')
                                div(class='input-group-text') Color
                            select(id='select-13' class='form-control selectize-single')
                                option(value selected) Choose...
                                each option in ['Red', 'Yellow', 'Green', 'Blue', 'Purple', 'Magenta', 'Pink', 'Black', 'White', 'Gray']
                                    option(value=option)= option
                            div(class='input-group-append')
                                div(class='input-group-text') !
                div(class='col-6')
                    h2 Multiple Select
                    form
                        div(class='form-group')
                            label(for='select-7') Regular
                            select(id='select-7' class='form-control selectize-multiple' multiple)
                                each option in ['Red', 'Green', 'Blue']
                                    option(value=option selected)= option
                        div(class='form-group')
                            label(for='select-8') Large
                            select(id='select-8' class='form-control form-control-lg selectize-multiple' multiple)
                                each option in ['Red', 'Green', 'Blue']
                                    option(value=option selected)= option
                        div(class='form-group')
                            label(for='select-9') Small
                            select(id='select-9' class='form-control form-control-sm selectize-multiple' multiple)
                                each option in ['Red', 'Green', 'Blue']
                                    option(value=option selected)= option
                        div(class='form-group')
                            label(for='select-10') RTL
                            select(id='select-10' class='form-control selectize-multiple' multiple dir='rtl')
                                each option in ['Red', 'Green', 'Blue']
                                    option(value=option selected)= option
                        div(class='form-group')
                            label(for='select-11') Custom Options
                            select(id='select-11' class='form-control selectize-custom' multiple)
                        div(class='form-group')
                            label(for='select-17') Valid Select Value
                            select(id='select-17' class='form-control is-valid selectize-multiple' multiple)
                                option(value='green' selected) Green
                            div(class='valid-feedback') Looks good!
                        div(class='form-group')
                            label(for='select-18') Invalid Select Value
                            select(id='select-18' class='form-control is-invalid selectize-multiple' multiple)
                                option(value='red' selected) Red
                            div(class='invalid-feedback') Please provide valid color.
                    form(class='form-inline my-2')
                        label(for='select-12' class='mr-2') Inline
                        select(id='select-12' class='form-control w-50 selectize-multiple' multiple)
                            each option in ['Red', 'Green', 'Blue']
                                option(value=option selected)= option
                    form(class='form-inline my-2')
                        label(for='select-14' class='mr-2') Input Group
                        div(class='input-group')
                            div(class='input-group-prepend')
                                div(class='input-group-text') Color
                            select(id='select-14' class='form-control selectize-multiple' multiple)
                                each option in ['Red', 'Green', 'Blue']
                                    option(value=option selected)= option
                            div(class='input-group-append')
                                div(class='input-group-text') !
        script(src='https://code.jquery.com/jquery-3.3.1.js')
        script(src='js/selectize.js')
        script.
            var REGEX_EMAIL = '([a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)';
            $('.selectize-single').selectize({sortField: 'text'});
            $('.selectize-multiple').selectize({
                delimiter: ',',
                persist: false,
                create: function (input) {
                   return {value: input, text: input};
                }
            });
            $('.selectize-custom').selectize({
                persist: false,
                maxItems: null,
                valueField: 'email',
                labelField: 'name',
                searchField: ['name', 'email'],
                options: [
                    {email: 'brian@thirdroute.com', name: 'Brian Reavis'},
                    {email: 'nikola@tesla.com', name: 'Nikola Tesla'},
                    {email: 'someone@gmail.com'}
                ],
                render: {
                    item: function (item, escape) {
                        return '<div class="item">'
                            + (item.name ? '<span class="name">' + escape(item.name) + '</span>' : '')
                            + (item.email ? ' <span class="email">&lt;' + escape(item.email) + '&gt;</span>' : '')
                            + '</div>';
                    },
                    option: function (item, escape) {
                        var label = item.name || item.email;
                        var caption = item.name ? item.email : null;
                        return '<div class="option">'
                            + '<span class="label">' + escape(label) + '</span>'
                            + (caption ? '<small class="caption" style="display:block">' + escape(caption) + '</small>' : '')
                            + '</div>';
                    }
                },
                createFilter: function (input) {
                    var match, regex;
                    regex = new RegExp('^' + REGEX_EMAIL + '$', 'i');
                    match = input.match(regex);
                    if (match) {
                        return !this.options.hasOwnProperty(match[0]);
                    }
                    regex = new RegExp('^([^<]*)\<' + REGEX_EMAIL + '\>$', 'i');
                    match = input.match(regex);
                    if (match) {
                        return !this.options.hasOwnProperty(match[2]);
                    }
                    return false;
                },
                create: function (input) {
                    if ((new RegExp('^' + REGEX_EMAIL + '$', 'i')).test(input)) {
                        return {email: input};
                    }
                    var match = input.match(new RegExp('^([^<]*)\<' + REGEX_EMAIL + '\>$', 'i'));
                    if (match) {
                        return {email: match[2], name: $.trim(match[1])};
                    }
                    alert('Invalid email address.');
                    return false;
                }
            });
